{% extends 'layout-app.html' %}

{% set hub = "Services" %}

{% set pageHeading = "Appointment confirmed" %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      <div class="app-confirmation">
        <h1 class="app-confirmation__title">{{ pageHeading }}</h1>
      </div>

      <h2 class="nhsuk-heading-xs nhsuk-u-margin-bottom-1">Details</h2>

        <p>
          <span class="nhsuk-u-visually-hidden">Type: </span>{{ data['gp-appointment-type'] or 'Blood test' }}<br>
          <span class="nhsuk-u-visually-hidden">Time: </span>{{ data['appointment-name'] or '8am' }}<br>
          <span class="nhsuk-u-visually-hidden">Date: </span>{{ data['appointment-date'] or 'Monday 3 February 2024' }}

        </p>

        <hr>

        <h2 class="nhsuk-heading-xs nhsuk-u-margin-bottom-1">Location</h2>

        <p>
          <span">{{ data['appointment-location'] or 'Southbank Practice' }} </span>
        </p>

        {% if "Phone appointment" in data['gp-appointment-type'] %}

        <h2 class="nhsuk-heading-xs nhsuk-u-margin-bottom-1">Phone number</h2>
        <p>
          <span">{{ data['appointment-telephone-number'] or '?' }} </span>
        </p>

        {% endif %}

        <hr>

        <h2 class="nhsuk-heading-xs nhsuk-u-margin-bottom-1">Healthcare professional</h2>

        <p>
          <span>{{ data['appointment-clinician'] or 'Nurse Donna' }} </span>
        </p>
        
     
      <hr class="nhsuk-section-break nhsuk-section-break--m nhsuk-section-break--visible">

      <br>

      <a href="#" class="nhsuk-link nhsuk-link--no-visited-state">Add to calendar</a>

      <br>
      <br>

      <h2 class="nhsuk-heading-s">What you can do next</h2>

      {{ nhsappCardGroup({
        stacked: true,
        cards: [
          {
            title: "Upcoming and past appointments",
            href: "/pages/your-health/upcoming-and-past-appointments-p9"
          }
        ]
      }) }}




    </div>
  </div>

  {% endblock %}


