{% extends 'layout-app-pifu-1.html' %}

{% set hub = "Your health" %}

{% set backLink = true %}


{% set isQuestionnairePage = true %}
{% set questionNumber = 1 %}
{% set totalQuestions = 3 %}

{% set pageHeading = "Do you feel unwell / do you need urgent attention?" %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      <form id="form" method="post" action="/pages/pifu-1/questions/question-2" novalidate="novalidate">

        <h1 class="nhsuk-fieldset__legend nhsuk-fieldset__legend--xl">
          {{ pageHeading }}
        </h1>

        {{ radios({
          idPrefix: "pifu-1-question-1",
          name: "pifu-1-question-1",
          fieldset: {
            legend: {
            }
          },
          "items": [
            {
              value: "Yes",
              text: "Yes",
              checked: checked("pifu-1-question-1", "unwell")
            },
            {
              value: "No",
              text: "No",
              checked: checked("pifu-1-question-1", "well")
            }
          ]
        }) }}

        <a href="/pages/pifu-1/questions/question-2"> 
        {{ button({
          text: "Continue",
          classes: "nhsapp-button"
        }) }}
      </a>
        
      </form>

    </div>
  </div>

{% endblock %}
