{% extends 'layout-app-study-b.html' %}

{% set hub = "Services" %}

{% set pageHeading = "Appointment confirmed" %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      <div class="app-confirmation">
        <h1 class="app-confirmation__title">{{ pageHeading }}</h1>
      </div>

      <dl class="nhsuk-summary-list">

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Appointment details
          </dt>
          <dd class="nhsuk-summary-list__value">
            {{ data['gp-appointment-type'] or '?' }} <br>
            {{ data['appointment-date'] or '?' }}<br>
            {{ data['appointment-time'] or '?' }}
          </dd>
        </div>

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Location
          </dt>
          <dd class="nhsuk-summary-list__value">
            {{ data['appointment-location'] or '?' }}
          </dd>
        </div>

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Healthcare professional
          </dt>
          <dd class="nhsuk-summary-list__value">
            {{ data['appointment-clinician'] or '?' }}
          </dd>
        </div>
        
      </dl>

      
        
      <!-- {{ button({
        text: "Add to calendar",
        classes: "nhsuk-u-margin-top-1 nhsapp-button app-button--secondary"
      }) }} -->

      
      <!-- <hr class="nhsuk-section-break nhsuk-section-break--m nhsuk-section-break--visible">


      <h2 class="nhsuk-heading-s">What you can do next</h2>

      {{ nhsappCardGroup({
        stacked: true,
        cards: [
          {
            title: "View upcoming appointments",
            href: "#"
          }
        ]
      }) }} -->


    </div>
  </div>

  {% endblock %}


