{% extends 'layout-app-pifu-2.html' %}

{% set hub = "Your health" %}

{% set backLink = true %}

{% set pageHeading = "Is your appointment about the thing you were treated for?" %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      <form id="form" method="post" action="/pages/pifu-2/questions/question-3" novalidate="novalidate">

        <h1 class="nhsuk-fieldset__legend nhsuk-fieldset__legend--xl">
          {{ pageHeading }}
        </h1>

        {{ radios({
          idPrefix: "pifu-2-question-2",
          name: "pifu-2-question-2",
          fieldset: {
            legend: {
            }
          },
          "items": [
            {
              value: "Yes",
              text: "Yes",
              checked: checked("pifu-2-question-2", "pathway-positive")
            },
            {
              value: "No",
              text: "No",
              checked: checked("pifu-2-question-1", "pathway-negative")
            }
          ]
        }) }}

        <a href="/pages/pifu-2/questions/question-3"> 
        {{ button({
          text: "Continue",
          classes: "nhsapp-button"
        }) }}
      </a>
        
      </form>

    </div>
  </div>

{% endblock %}
