{% extends 'layout-app-pifu1.html' %}

{% set hub = "Services" %}
{% set isQuestionnairePage = false %}

{% set backLink = true %}
{% set backLinkURL = "/pages/pifu-1/your-health/upcoming-and-past-appointments/pifu-questionnaire/questionnaire-intro" %}

{% set pageHeading = "Appointment request submitted" %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
    
        <div class="app-confirmation">
            <h1 class="app-confirmation__title">{{ pageHeading }}</h1>
          </div>


      <!--DESCRIPTION-->
       <h2>Orthopaedic request submitted</h2>
       <h3>Request submitted on: today</h3>
       <p>Please give time for your hospital booking team to confirm and if any questions contact your hospital</p>
       <hr class="nhsuk-section-break--l">

       <div class="nhsapp-card">
        <div class="nhsapp-card__container">
          <div class="nhsapp-card__content">
            <a href="#" class="nhsapp-card__link nhsuk-link--no-visited-state">
            Manage your follow up appointments
            </a>
          </div>
      <svg class="nhsapp-icon nhsapp-icon__chevron-right" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false" height="2rem" width="2rem" viewBox="0 0 24 24" > <path d="M8.82 19.11a.97.97 0 0 1-.72-.31.996.996 0 0 1 .03-1.41l5.61-5.38-5.6-5.25c-.4-.38-.42-1.01-.05-1.41.38-.4 1.01-.42 1.41-.05l6.37 5.97c.2.19.31.45.32.72s-.11.54-.31.73l-6.37 6.11c-.19.19-.44.28-.69.28Z" /> </svg> </div> </div>

    </div>
  </div>

  {% endblock %}

  {% block afterContent %}

  {% endblock %}
